.rdfauthor-portlet {
  width: 400px;
  margin-right: 15px;
  margin-bottom: 15px;
  float: left;
  &.ui-sortable-placeholder {
    visibility: visible!important;
    background: #aaa;
    &.active {
                       
    }
    &.starting {
      transition-property: none;
    }
  }
  &.grabbing {
    transform: rotate(3deg);            
  }
  &.moving {
    
    transition: transform 200ms ease;    
  }
}

/**** Isotope Filtering - sortable hack****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}


/* .portlet:after { */
  /* content: attr(data-content); */
  /* position: absolute; */
  /* top: -1px; */
  /* left: -1px; */
  /* padding: 3px 7px; */
  /* font-size: 12px; */
  /* font-weight: bold; */
  /* background-color: #f5f5f5; */
  /* border: 1px solid #ddd; */
  /* color: #9da0a4; */
  /* -webkit-border-radius: 4px 0 4px 0; */
     /* -moz-border-radius: 4px 0 4px 0; */
          /* border-radius: 4px 0 4px 0; */
/* } */

.portlet-entry {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

/* .portlet-entry:after { */
  /* content: attr(data-content); */
  /* position: absolute; */
  /* top: -1px; */
  /* left: -1px; */
  /* padding: 3px 7px; */
  /* font-size: 12px; */
  /* font-weight: bold; */
  /* background-color: #f5f5f5; */
  /* border: 1px solid #ddd; */
  /* color: #9da0a4; */
  /* -webkit-border-radius: 4px 0 4px 0; */
     /* -moz-border-radius: 4px 0 4px 0; */
          /* border-radius: 4px 0 4px 0; */
/* } */

.portlet-property-title {
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.portlet { margin: 0 1em 1em 0; }
.portlet-minimized { height: auto !important; }
.portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }
.portlet-header .ui-icon { float: right; }
.portlet-content { padding: 0.4em; }
.portlet-minimized .portlet-content { display: none !important; }
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }

.ui-resizable-s {
  bottom: 0;
}
.ui-resizable-e {
  right: 0;
}

.portlet-navbar {
  z-index: auto !important;
}

#rdfauthor .property-minimized {
  /* height:auto !important; */
}

/* #rdfauthor { */
  /* width: 700px; */
  /* [> height: 700px; <] */
/* } */

#rdfauthor .settings {
  visibility: visible;
  opacity:0;
  filter:alpha(opacity=0);
}

#rdfauthor .visible {
  visibility: visible;
}

.dropdown-menu {
  min-width: 0px !important;
}

.input-fullsize {
  width: 100%;
}

.input-size-135 {
  width: 135% !important;
}

.input-custom {
  /* height: 10px !important; */
  margin-left: 6px;
  margin-right: 6px;
}

.checkbox-submenu {
  margin-right: 6px;
  margin-left: 6px;
}

.visibility-hidden {
  visibility: hidden;
}

.dropdown-set {
  color: #ffffff;
  text-decoration: none;
  background-color: #646D7E !important;
  background-image: -moz-linear-gradient(top, #646D7E, #6D7B8D);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#646D7E), to(#6D7B8D));
  background-image: -webkit-linear-gradient(top, #646D7E, #6D7B8D);
  background-image: -o-linear-gradient(top, #646D7E, #6D7B8D);
  background-image: linear-gradient(to bottom, #646D7E, #6D7B8D);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#646D7E', endColorstr='#6D7B8D', GradientType=0);
}

.icon-modal-header {
  float: right;
  padding-right: 5px;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  float: right;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.icon-modal-header:hover,
.icon-modal-header:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.modal-header .icon-modal-header {
  margin-top: 5px;
}

.brand-input {
  font-size: 20px;
  font-weight: 200;
  color: #777777;
  float: left;
  margin-top: 10px;
}

.hide-important {
  display: none !important;
}

#rdfauthor .modal-dialog-fullscreen {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#rdfauthor .modal-content-fullscreen {
  width: 100% !important;
  height: 100% !important;
  border-radius: 0;
  top: 0 !important;
  left: 0 !important;
  z-index: 2000 !important;
  opacity: 100 !important;
}

#rdfauthor .modal-body-fullscreen {
  width: 100% !important;
}

#rdfauthor .property-settings {
  margin-top: -30px;
  visibility: visible;
  opacity:0;
  filter:alpha(opacity=0);
}

#rdfauthor .disabled {
  color: #DEDEDE;
}

#rdfauthor .portlet-container {
  padding-top: 15px;
  height: 100%;
  overflow-y: auto;
}

#rdfauthor .tab-content {
  height: 98%;
  overflow-y: auto;
}

#rdfauthor .modal-body {
  height: 500px;
}

#rdfauthor .hasLanguage,
#rdfauthor .hasLanguage:hover,
#rdfauthor .hasLanguage:focus,
#rdfauthor .hasLanguage:active,
#rdfauthor .open .hasLanguage .active, 
#rdfauthor .open .dropdown-toggle.hasLanguage {
  color: #ffffff;
  background-color: #47a447;
  border-color: #398439;
}

#rdfauthor .hasDatatype,
#rdfauthor .hasDatatype:hover,
#rdfauthor .hasDatatype:focus,
#rdfauthor .hasDatatype:active,
#rdfauthor .open .hasDatatype .active, 
#rdfauthor .open .dropdown-toggle.hasDatatype {
  color: #ffffff;
  background-color: #39b3d7;
  border-color: #269abc;
}

/* .navbar .nav > li { */
/* z-index: 10000; */
/* } */


/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.isotope.no-translate,
.isotope.no-translate .isotope-item,
.isotope .isotope-item.no-translate {
  transform: translate(0);
  -ms-transform: translate(0); /* IE 9 */
  -webkit-transform: translate(0); /* Safari and Chrome */
}


/**** extend bootstrap 3 - submenus ****/

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}