#propertypicker {
  display: none;
  z-index: 10000;
  overflow: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 0px !important;
  padding-top: 0px !important;
  margin-left: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 10px !important;
  height: 450px;
  width: 477px;
  /* shadow */
  -moz-box-shadow: 0.2em 0.5em 2.5em #000;
  -webkit-box-shadow: 0.2em 0.5em 2.5em #000;

}

#propertypicker .title {
    cursor: move;
}

#propertypicker h1 {
  font-size: 100%;
}

#propertypicker ul li {
  padding-left: 5px;
}
